<h2>{{ep_label}} Episodes ({{latestEpisodes.length}})</h2>
<ol>
  <li class='mb-1' *ngFor='let ep of latestEpisodes'>
    <div class="media" (click)="playCast(ep)">
      <app-board-thumb castId="{{ep.castID}}"></app-board-thumb>
      <div class="media-body">
        <strong class="mt-0 font-weight-bold">{{ep.pubDate | timeAgo}}</strong>
        {{ ep.title }} <br /> <span class='pull-right' *ngIf="ep.duration">
          <fa name="hourglass-start "></fa><small>{{ ep.duration }}</small>
        </span>
      </div>
    </div>
  </li>
</ol>
