<div class='row border rounded mt-3' *ngIf="episode">
  <div class='col-lg-1 col-sm-1'>
    <img src='{{(cast$ | async).imageURL}}' width='60px' class='responsive mt-3 ml-3 mr-3 rounded'>
  </div>
  <div class='mt-2 col-sm-11'>
    <h6>{{episode.title}}</h6><small *ngIf="episode.subtitle">{{episode.subtitle}}</small>
    <br>
    <audio *ngIf="episode.mediaURL.indexOf('.mp3') > -1" #player id='player' autoplay controls src='{{ episode.mediaURL }}'></audio>
    <video *ngIf="episode.mediaURL.indexOf('.mp3') == -1" #player id='player' autoplay controls src='{{ episode.mediaURL }}'></video>
  </div>
</div>
