<div #basicModal='mdbModal' mdbModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="padding-right: 15px; display: block;">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal($event)">
          <span aria-hidden="true">×</span>
        </button>
        <h5>Search result for {{searchWord}} searched: {{episodes.length}}</h5>
      </div>
      <div class='modal-body container'>
        <ul class='list-unstyled'>
          <li *ngFor='let ep of pagedItems' class='mb-1'>
            <div class='row'>
              <div class='col-md-2'>
                <img src='{{ dicCast[ep.castID] ? dicCast[ep.castID].imageURL : "" }}' width='60px'>
              </div>
              <div class="col-md-7">
                <a (click)='play(ep)' data-toggle='tooltip' title='{{ep.summary ? ep.summary : ep.title}}'>{{ep.title}}<br><small>{{ep.subtitle}}</small></a>
              </div>
              <div class='col-md-2'>
                [{{ep.pubDate | date:'yyyy.MM.dd'}}]
              </div>
              <div class='col-md-1'>
                <fa name='download' (click)='downloadEpisode(ep)'></fa>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='modal-footer'>
        <app-paging [items]="episodes" (pagedItems)="getPagedItems($event)"></app-paging>
      </div>
    </div>
  </div>
</div>
