<div style="display: block">
<canvas *ngIf="chartLoaded" mdbChart
          chartType="doughnut"
          [data]="chartData"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
</canvas>
</div>
<div class='row'>
  <ul>
    <li *ngFor="let cast of (castsOfCategory$ | async)">
      <div class="media"><img class="d-flex mr-3" width="100px" src="{{ cast.imageURL }}" alt="{{ cast.name }}">
        <div class="media-body"><h5>{{ cast.name }}</h5> Episodes: {{ cast.episodeCount }}, Last published: {{ cast.lastPub }} </div></div>
    </li>
  </ul>
</div>
